## .NET ##
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og/
**/[Ll]ogs/
**/.vs/
**/.vscode/
*.user
*.suo
*.cache
*.swp
*.[Cc]ache
*.nupkg
*.ncrunchsolution

## Rider ##
.idea/
*.sln.iml
*.DotSettings
*.DotSettings.user